<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>

    <title>Doctor</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark">
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class=" btn btn-danger" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" href="">About</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
            </li>
        </ul>
      </nav>
    <br><br>


    hello, {{ request.user.speciality }}
</body>
</html>